.navigation-box {
    width: 250px;
    position: fixed;
    top: 40%;
    left: 80%;

    color: #868e96;
    font-size: 12px;
}

.navigation-link-h2 {
    margin-left: 9px;
}

.navigation-link:hover {
    color: #000000;
}

