.navigation-box {
    width: 250px;
    position: fixed;
    top: 50%;
    left: 80%;

    color: #868e96;
    font-size: 12px;
    padding: 10px;
}

.navigation-box a {
    margin-bottom: 30px;
}

.navigation-link-h2 {
    margin-left: 9px;
}

.navigation-link-h3 {
    margin-left: 12px;
}

.navigation-link:hover {
    color: #000000;
}

