.navigation-box {
  display: none;
  width: 250px;
  position: fixed;
  line-height: 1.5;
  padding-left: 15px;
  border-left: 2px solid #f1f3f5;
  color: #868e96;
  font-size: 12px;

  max-height: 400px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #9fa8b0 rgba(241, 243, 245, 0);
}

.navigation-box::-webkit-scrollbar {
  width: 8px;
}

@media screen and (min-width: 1280px) {
  .navigation-box {
    display: block;
    top: calc(30% - 10px);
    left: 50%;
    transform: translateX(390px);
  }
}

/* 나머지 스타일은 변경 없음 */
.navigation-link-h2 {
  margin-left: 9px;
}

.navigation-link:hover {
  color: #000000;
}

.hidden {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.active-tag {
  color: #000000;
  font-weight: bold;
} 